@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "@tailwindcss/typography";

.hashnode-content-style {
	@apply prose lg:prose-xl dark:prose-invert break-words text-slate-950 dark:text-neutral-50;
}

.hashnode-content-style p,
.hashnode-content-style blockquote,
.hashnode-content-style a,
.hashnode-content-style figure,
.hashnode-content-style figcaption,
.hashnode-content-style pre,
.hashnode-content-style li,
.hashnode-content-style ul,
.hashnode-content-style ol,
.hashnode-content-style th,
.hashnode-content-style td {
	@apply leading-snug;
}

.hashnode-content-style p:first-child,
.hashnode-content-style h1:first-child,
.hashnode-content-style h2:first-child,
.hashnode-content-style h3:first-child,
.hashnode-content-style h4:first-child,
.hashnode-content-style h5:first-child {
	@apply mt-0;
}

.hashnode-content-style img {
	@apply max-w-full;
}

.hashnode-content-style a {
	@apply underline;
}

.hashnode-content-style a:hover {
	@apply bg-primary-50;
}

.dark .hashnode-content-style a:hover {
	@apply text-primary-500 bg-neutral-800;
}

.dark .hashnode-content-style pre {
	@apply bg-neutral-900;
}

/* Override to remove the backtick */
.hashnode-content-style :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before, .hashnode-content-style :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after  {
    content: none;
}

.prose code {
    border-radius: 0.25rem;
    font-weight: 400 !important;
    padding: 0.25rem;
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    font-size: 80%;
    background: #f0efed;
}
  
.dark .prose code {
    --tw-bg-opacity: 1;
    background-color: rgba(36, 41, 46, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(238, 238, 238, var(--tw-text-opacity));
}
  
.prose pre {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
  
.prose pre code {
    background-color: transparent;
    border-radius: 0px;
    font-weight: 500 !important;
    padding: 0px;
    font-size: 100%;
    color: #fafafa;
}

.dark .prose pre code {
    background-color: transparent;
    color: #ddd;
}

.gallery-item.image-gallery {
	@apply w-[inherit] h-[inherit];
}

.gallery-item
	:is(
		.image-gallery-content,
		.image-gallery-slide-wrapper,
		.image-gallery-swipe,
		.image-gallery-slides,
		.image-gallery-slide,
		.image-gallery-slide img
	) {
	@apply w-[inherit] h-[inherit];
}

.gallery-item .image-gallery-slide {
	@apply cursor-default;
}

.gallery-item .image-gallery-slide img {
	@apply h-[inherit] w-[inherit] object-cover;
}

.gallery-item :is(.image-gallery-left-nav, .image-gallery-right-nav) {
	@apply top-0 bottom-0 transform-none px-0 opacity-10 transition-opacity;
}

.gallery-item .image-gallery-svg {
	@apply !h-16;
}

.gallery-item .image-gallery-fullscreen-button {
	@apply absolute top-0 bottom-0 left-[60px] w-[calc(100%-120px)] p-5 flex-center opacity-0 transition-opacity;
}

.gallery-item .image-gallery-fullscreen-button .image-gallery-svg {
	@apply !h-8 !w-8;
}

.gallery-item:hover .image-gallery-fullscreen-button {
	@apply opacity-100 cursor-zoom-in;
}

.gallery-item .image-gallery-right-nav:hover,
.gallery-item .image-gallery-left-nav:hover {
	@apply opacity-100;
}

.gallery-item .image-gallery-icon:focus {
	@apply opacity-100;
}

.image-gallery-content.fullscreen .image-gallery-fullscreen-button {
	@apply hidden;
}

.image-gallery-content.fullscreen .image-gallery-slide img {
	@apply object-contain;
}

#projects .image-gallery-index {
	@apply hidden;
}

.icon-link-btn {
    @apply flex-center gap-2.5 px-2 p-1 rounded transition-colors hover:bg-badge-light dark:hover:bg-badge-dark;
}
.icon-link-btn--outline {
    @apply border border-badge-dark;
}
.icon-link-btn--active {
    @apply bg-badge-light dark:bg-badge-dark;
}